/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/homeserver/node_modules
/homeserver/enviroment/env.js
/homeserver/qrcode.png
/homeserver/package-lock.json
/tmp